services:
  - type: web
    name: citysewa
    plan: starter
    branch: main
    autoDeploy: false
    buildCommand: |
      pip install -r requirements.txt
    startCommand: >
      python manage.py custommigrate --noinput && 
      gunicorn config.wsgi:application --workers 1 --threads 3 --bind 0.0.0.0:$PORT
    healthCheckPath: "/"
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings
      - key: SECRET_KEY
        generate: secret
      - key: DEBUG
        value: "False"
      - key: LOCAL
        value: "False"
      - key: ALLOWED_HOSTS
        value: "citysewa2.onrender.com"
