<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    .endpoint {
      background-color: antiquewhite;
      border: 1px solid grey;
      margin: 5px;
      padding: 5px;
    }
  </style>
  <body>
    <h1>Server is working fine.</h1>

    <h3>Base: {{BASE_URL}}/api/v1/</h3>
    <h2>API endpoints</h2>
    <div class="endpoint">accounts/customer/register</div>
    <div class="endpoint">accounts/provider/register</div>
    <div class="endpoint">accounts/customer/login</div>
  </body>
</html>
