.admin-dashboard{
    width: 90vw;
    min-height: 71vh;
    /* border: 2px solid #4C5FD5; */
    border: 2px solid #444444;
    border-radius: 1rem;
    margin: 13px 0px 13px 0px; 
    padding: 13px;
    color: rgba(255, 255, 255, 0.75);
    /* background: rgba(76, 95, 213, 0.15); */
    background: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(12px) saturate(140%);
    -webkit-backdrop-filter: blur(12px) saturate(140%);
    box-shadow: 0 8px 24px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.05);
    box-sizing: border-box;
    overflow-x: scroll;
    scrollbar-width: none;
}

.admin-dashboard h1{
    width: fit-content;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.admin-dashboard:hover{
    background: rgba(17, 17, 17, 0.15);
}

.admin-dashboard .customers, .providers{
    /* border: 2px solid red; */
    margin-top: 25px;
    width: 100%;
}

table{
    width: 100%;
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    margin-top: 13px;
}

th{
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
    margin: 8px;
}

td{
    /* border: 2px solid rgba(76, 95, 213, 0.75); */
    border: 2px solid rgba(102, 102, 102, 0.75);
}

th,td{
    padding: 2px;
}

.admin-dashboard input{
    border: 2px solid rgba(102, 102, 102, 0.75);
}

@media only screen and (min-width: 768px){
    .admin-dashboard{
        margin: 25px 0px 25px 0px;
    }
}

@media only screen and (min-width: 1024px){
    .admin-dashboard{
        max-width: 62vw;
        height: 80vh;
        margin: 0;
        padding: 25px;
    }
}

@media only screen and (min-width: 1440px){
    .admin-dashboard{
        max-width: 71vw;
    }
}
