footer{
    width: 100vw;
    height: auto;
    padding: 25px;
    border: 2px solid #444444;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 71px;
    /* background: rgba(128, 128, 128, 0.26); */
    background: #000000;
    box-sizing: content-box;
    z-index: 4;
    transition: all 0.4s ease-in-out;
} 

footer:hover{
    background: #111111;
}

footer section{
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* border: 2px solid red; */
    text-align: center;
}

.footerColumn{
    display: flex;
    gap: 8px;
}

footer p{
    font-size: small;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 4px;
}

footer h3{
    font-size: large;
    background: linear-gradient(to right, white, grey, brown);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
    user-select: none;
}

@media only screen and (min-width: 375px){
    footer h3{
        font-size: larger;
    }
    footer p{
        font-size: large;
    }
}

@media only screen and (min-width: 768px){
    footer{
        margin-top: 94px;
    }
}