.register-form, .register-admin-form{
    width: 90vw; 
    aspect-ratio: 2/3; 
    padding: 25px 13px 25px 13px;
    margin: 13px;
    letter-spacing: 1px;
    border: 2px solid #4C5FD5;
    border-radius: 1rem;
    display: flex;
    color: rgba(255, 255, 255, 0.75);
    background: rgba(76, 95, 213, 0.15);
    backdrop-filter: blur(12px) saturate(140%);
    -webkit-backdrop-filter: blur(12px) saturate(140%);
    box-shadow: 0 8px 24px rgba(0,0,0,0.35), inset 0 1px 0 rgba(255,255,255,0.05);
}

.register-form fieldset, .register-admin-form fieldset{
    width: 100%;
    padding: 0px 13px 0 13px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.register-form fieldset legend, .register-admin-form fieldset legend{
    width: 35%;
    text-align: center;
    font-Size: x-large;
}

.register-admin-form fieldset legend{
    width: 80%;
}

.register-form fieldset span, .register-admin-form fieldset span{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.register-form fieldset span:nth-of-type(2){
    flex-direction: row;
    column-gap: 25px;
}

.register-form fieldset span:nth-of-type(2) span{
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

label{
    font-size: larger;
}

input{
    all: unset;
    width: 100%;
    margin-top: 8px;
    border: 2px solid rgba(135, 206, 235, 0.5);
    padding: 8px 13px 8px 13px;
    box-sizing: border-box;
    border-radius: 0.75rem;
}

input:focus{
    border: 2px solid rgba(135, 206, 235, 0.75);
    background: rgba(135, 206, 235, 0.05);
}

.register-form fieldset span:nth-of-type(3), .register-form fieldset span:nth-of-type(4){
    flex-direction: row;
    gap: 25px;
}

select{
    font-size: large;
    min-width: 40%;
    max-width: 130px;
    padding: 4px;
    outline: none;
    border: 2px solid rgba(135, 206, 235, 0.5);
    border-radius: 0.25rem;
}

button{
    all: unset;
    border: 2px solid rgba(135, 206, 235, 0.75);
    border-radius: 0.75rem;
    padding: 8px 13px 8px 13px;
    align-self: flex-end;
    box-sizing: border-box;
    align-self: center;
    font-size: large;
    cursor: pointer;
}

button:hover{
    border: 2px solid rgba(135, 206, 235, 1);
    background: rgba(135, 206, 235, 0.26);
    color: white;
}

@media only screen and (min-width: 321px){
    .register-form, .register-admin-form{
        aspect-ratio: 3/4;
    }
}

@media only screen and (min-width: 375px){
    .register-form, .register-admin-form{
        aspect-ratio: 4/5;
    }
    legend{
        font-size: xx-large;
    }
    .register-admin-form fieldset legend{
        font-size: xx-large;
        width: 62%;
    }
    label{
        font-size: x-large;
    }
    input{
        font-size: larger;
    }
    button{
        font-size: x-large;
    }
}

@media only screen and (min-width: 426px){
    .register-form, .register-admin-form{
        width: 60vw;
        max-height: 60vh;
    }
}

@media only screen and (min-width: 768px){
    .register-form, .register-admin-form{
        width: 490px;
        margin: 25px;
        padding: 40px;
    }
    legend{
        width: 31%;
    }
}

